:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.75;

  background-color: var(--main-bg);
  color: var(--main-txt-cl);
}
/* Utility styles */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Reset */
body {
  min-height: 100%;
}
h2,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  color: currentColor;
  cursor: pointer;
}

.btn {
  min-width: 95px;
  min-height: 44px;
  padding: 10px 20px;

  font-weight: 600;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;

  transition: background-color 300ms, border-color 300ms, color 300ms;
}
.primary-btn {
  border-color: #02897a;
}
.primary-btn:hover,
.primary-btn:focus {
  background-color: #02897a;
  color: #ffffff;
}
.secondary-btn {
  background-color: #02897a;
  color: #ffffff;
}
.secondary-btn:hover,
.secondary-btn:focus {
  border-color: #02897a;
  background-color: transparent;
  color: currentColor;
}
.logo {
  display: inline-flex;
  align-items: center;
  gap: 15px;

  font-size: 30px;
  font-weight: 700;
  line-height: 0.93;
}
/**
  |============================
  | Header
  |============================
*/
.header {
  padding: 18px 0;
  box-shadow: var(--shadow);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 105px;
}
.header-nav {
  margin-right: auto;
}
.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-link {
  display: block;
  padding: 8px 0;

  transition: color 300ms;
}
.nav-link:hover,
.nav-link:focus {
  color: #02897a;
}
.header-controls {
  display: flex;
  align-items: center;
  gap: 25px;

  margin-right: 25px;
}

/* theme switcher */
.switcher {
  position: relative;

  display: flex;
  gap: 2px;
  padding: 3px;

  border-radius: 100px;
  border: 2px solid #02897a;
  background-color: rgba(2, 137, 122, 0.3);
  overflow: hidden;
}
.switcher-status {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  background-image: url("../images/icons/status.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: background-position 300ms;
}

.switcher-control {
  position: relative;
  z-index: 10;
  appearance: none;
  width: 30px;
  height: 30px;

  cursor: pointer;
}
.switcher-control.light {
  background-image: url("../images/icons/light.svg");
}
.switcher-control.auto {
  background-image: url("../images/icons/auto.svg");
}
.switcher-control.dark {
  background-image: url("../images/icons/dark.svg");
}

.switcher-control.light:checked ~ .switcher-status {
  background-position: left 3px center;
}

.switcher-control.auto:checked ~ .switcher-status {
  background-position: center center;
}

.switcher-control.dark:checked ~ .switcher-status {
  background-position: right 3px center;
}
/**
  |============================
  | Clients
  |============================
*/
.clients {
  padding: 100px 0;
}
.clients-title {
  margin-bottom: 66px;

  font-size: 40px;
  text-align: center;
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
}
