body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-size: 18px;
  color: var(--primary-text);

  background-image: var(--main-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

h1.site-title {
  font-size: 1.5rem;
}
h2.site-title {
  font-size: 1.3rem;
}

section h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

section {
  margin: 30px 0;
  padding: 20px 0;
  border-bottom: 1px solid #3f8efc;
}

.text-orange {
  color: orange;
}

.bg-orange {
  background: orange;
}

pre {
  background: #bfd8ff;
  padding: 10px;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.5rem;
}

.cd {
  font-family: monospace;
  background: aliceblue;
  padding-left: 15px;
  border-left: 2px solid #33c3f0;
}

div.section {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  margin: 20px 0;
  padding: 20px 0;
}
.main-title {
  padding: 0 1rem;
  color: var(--text);
  text-align: center;
}
.list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1.5rem;

  text-align: center;
}

.list-item-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text);

  border: 1px solid var(--divider-color);
  border-radius: 0.5rem;
}
