body {
  padding: 1rem 0;
  line-height: 1.6;
  color: var(--secondary-text);

  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(280px, 1200px) minmax(20px, 1fr);
}

section,
h1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

section {
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--divider-color);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text);
  margin-top: 0;
}
h1 {
  padding: 1rem;

  color: var(--text);
  text-align: center;

  background-color: var(--dark-primary-color);
  border-radius: 1rem;
}
p {
  margin-top: 0;
}

/* Links */
a {
  color: #3f8efc;
  text-decoration: none;
}
a:hover {
  color: #2c7ae7;
  text-decoration: underline;
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  height: 2rem;
  padding: 0 30px;

  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  color: #555;
  text-transform: uppercase;
  white-space: nowrap;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #727272;
  cursor: pointer;
  transition: 300ms;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--text);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: var(--accent-color);
  background-color: var(--text);
}

/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 2rem;
  padding: 6px 10px;
  background-color: var(--text);
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  box-shadow: none;
  transition: 300ms;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

/* Lists */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

/* Code */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
code.mb-1 {
  display: block;
  margin-bottom: 1rem;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
pre {
  padding: 0.5rem;
  color: var(--text);
  background-color: var(--primary-color);
  border-radius: 0.25rem;
}

/* Spacing */
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1rem;
}
.output-1,
.output-2,
.output-3,
.output-4,
.output-5,
.output-6,
.output-7,
.output-8,
.output-9,
.output-10,
.output-11,
.output-12,
.output-13,
.output-14,
.output-15,
.output-16,
.output-17,
.output-18,
.output-19,
.output-20,
.output-21,
.output-22,
.output-23,
.output-24,
.output-25,
.output-26,
.output-27,
.output-28,
.output-29,
.output-30 {
  min-height: 52px;
  padding: 0.5rem;
  color: var(--primary-text);
  background-color: var(--light-primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.result {
  padding: 0.5rem 1rem;
  font-family: monospace;
  color: var(--text);
  background-color: var(--primary-color);
  border-left: 2px solid var(--divider-color);
  border-radius: 0.6rem;
}
